/* Responsive */
        @media (max-width: 992px) {

            .about-content,
            .contact-container {
                grid-template-columns: 1fr;
            }

            .about-img {
                max-width: 500px;
                margin: 0 auto 3rem auto;
            }

            .about-info {
                grid-template-columns: 1fr;
            }

            .resume-content::before {
                left: 16px;
            }

            .resume-item::before {
                left: 7px;
            }
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 2.5rem;
            }

            h2 {
                font-size: 2rem;
            }

            .section {
                padding: 5rem 0;
            }

            .hero-content {
                padding: 2rem;
                text-align: center;
            }

            .header-content {
                position: relative;
            }

            .nav-toggle {
                display: block;
            }

            .nav-links {
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                flex-direction: column;
                background-color: var(--dark);
                padding: 1rem 0;
                transform: translateY(-100%);
                opacity: 0;
                visibility: hidden;
            }

            .nav-links.show {
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }

            .nav-links li {
                margin: 0;
                text-align: center;
            }

            .nav-links a {
                display: block;
                padding: 1rem;
            }

            .nav-links a::after {
                display: none;
            }

            .contact-info,
            .contact-form {
                padding: 2rem;
            }
        }